In [1]:
# importing my dependencies

import pandas as pd
import os, csv

# bring in my csv file

pymoli = os.path.join ("Resources","purchase_data.csv")

# convert file to a pandas dataFrame

hop_df = pd.read_csv(pymoli)

In [2]:
## PLAYER COUNT

# determining the number of Unique Screennames, as well as their purchase counts

uniquePlayerCount = hop_df["SN"].nunique()

# creating a dictionary out of the values we need

player_list = [{"Total Players":uniquePlayerCount}]

# turning that dictionary to a DataFrame, and printing it to the terminal
totalPlayers = pd.DataFrame(player_list)
totalPlayers

   Total Players
0            576

In [3]:
## PURCHASING ANALYSIS (TOTAL)

# determining the number of Unique Items that were purchased, average purchase price,
# total number of purchases, and total revenue

uniqueItemCount = hop_df['Item ID'].nunique()
avgPrice = hop_df['Price'].mean()
totalPurchases = hop_df['Purchase ID'].count()
totalRevenue = hop_df['Price'].sum()

# creating a dictionary

purchasingAnalysis = [{
    "Number of Unique Items":uniqueItemCount,
    "Average Price":avgPrice,
    "Number of Purchases":totalPurchases,
    "Total Revenue":totalRevenue
}]

# creating the DataFrame

pa_df = pd.DataFrame(purchasingAnalysis)

# format the DataFrame

format_dict = {'Number of Unique Items':"{:}",
              'Average Price':"${:.2f}",
              'Number of Purchases':"{:}",
              'Total Revenue':"${0:,.2f}"}
cleanedPA = pa_df.style.format(format_dict)

# print new DataFrame to terminal

cleanedPA

In [4]:
# GENDER DEMOGRAPHICS

# determining the percentage and count of Male players, the percentage and
# count of Female players, and the percentage and count of Other / Non-Disclosed

# get rid of all duplicate entries
gender = hop_df.drop_duplicates(subset="SN")
gender2 = gender.groupby("Gender")
gender3 = gender2.count()

# pulling individual counts from the DataFrame

maleCount = gender3.loc["Male","Purchase ID"]
femaleCount = gender3.loc["Female","Purchase ID"]
otherCount = gender3.loc["Other / Non-Disclosed","Purchase ID"]

# turn my total players DataFrame into an integer

playersCount = totalPlayers.iloc[0,0]

# calculating percentages

malePercent = (maleCount / playersCount) * 100
femalePercent = (femaleCount / playersCount) * 100
otherPercent = (otherCount / playersCount) * 100

# creating the dictionary (soon-to-be DataFrame)

gd = {
    "Total Count":{"Male":maleCount,
                  "Female":femaleCount,
                  "Other / Non-Disclosed":otherCount},
    "Percentage of Players":{"Male":malePercent,
                            "Female":femalePercent,
                            "Other / Non-Disclosed":otherPercent}
}

# creating the DataFrame

genderDemographics = pd.DataFrame(gd)
genderDemographics

# formatting the values

format_dict2 = {
    "Total Count":"{:}",
    "Percentage of Players":"{:.2f}%"}

cleanedGD = genderDemographics.style.format(format_dict2)

# output to the terminal

cleanedGD

In [5]:
## PURCHASING ANALYSIS (GENDER)

# Setting Index to Gender

paG = hop_df.set_index("Gender")

# obtaining the counts for female

femaleP_count = paG.loc["Female","Purchase ID"].count()
femalePrice = paG.loc["Female","Price"]
femalePrice_tot = femalePrice.sum()

# obtaining the counts for male

maleP_count = paG.loc["Male","Purchase ID"].count()
malePrice = paG.loc["Male","Price"]
malePrice_tot = malePrice.sum()

# obtaining the counts for other

otherP_count = paG.loc["Other / Non-Disclosed","Purchase ID"].count()
otherPrice = paG.loc["Other / Non-Disclosed","Price"]
otherPrice_tot = otherPrice.sum()

# creating a dictionary of our values

paGender = {
    "Purchase Count":{
        "Female":femaleP_count,
        "Male":maleP_count,
        "Other / Non-Disclosed":otherP_count},
    "Average Purchase Price":{
        "Female":femalePrice.mean(),
        "Male":malePrice.mean(),
        "Other / Non-Disclosed":otherPrice.mean()},
    "Total Purchase Value":{
        "Female":femalePrice_tot,
        "Male":malePrice_tot,
        "Other / Non-Disclosed":otherPrice_tot},
    "Avg Total Purchase per Person":{
        "Female":(femalePrice_tot / femaleCount),
        "Male":(malePrice_tot / maleCount),
        "Other / Non-Disclosed":(otherPrice_tot / otherCount)}
    }

# converting the dictionary to a DataFrame

paGender_df = pd.DataFrame(paGender)
paGender_df

# formatting the values

format_dict3 = {
    "Purchase Count":"{:}",
    "Average Purchase Price":"${:.2f}",
    "Total Purchase Value":"${0:,.2f}",
    "Avg Total Purchase per Person":"${:.2f}"
}

cleanedPA_Gender = paGender_df.style.format(format_dict3)
cleanedPA_Gender.index.name = "Gender"

# Print out table to terminal

cleanedPA_Gender

In [6]:
## AGE DEMOGRAPHICS

# establishing my bin for age

ageRange = [0,9,14,19,24,29,34,39,45]

groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# get rid of all duplicate entries

ad = hop_df.drop_duplicates(subset="SN")

# cut my DataFrame into my bins

pd.cut(ad['Age'],ageRange,labels=groups)

# add series to DataFrame

ad['Age Range'] = pd.cut(ad['Age'],ageRange,labels=groups)

# creating a total count by age range dataframe

total_count = ad[['Age Range','SN']]
total_count2 = total_count.groupby("Age Range").count()
total_count2["Total Count"] = total_count2['SN']

AD_f = total_count2[['Total Count']]

# creating a percentage of players dataframe
# remember to use variable uniquePlayerCount for the percentage calculation

AD_f['Percentage of Players'] = [((x / uniquePlayerCount)*100) for x in AD_f['Total Count']]

# formatting the DataFrame

format_dict4 = {
    "Total Count":"{:}",
    "Percentage of Players":"{:.2f}%"
}

cleanedAD_f = AD_f.style.format(format_dict4)

# printing result to the terminal

cleanedAD_f

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
## PURCHASING ANALYSIS (AGE)

# creating a duplicate of hop_df to preserve that tables data

pa_a = hop_df

# adding the age range variable to my table

pa_a['Age Range'] = pd.cut(pa_a['Age'],ageRange,labels=groups)

# setting my index

pa_Age = pa_a.set_index('Age Range')

## calculating my totals

# Purchase Count

agePurch_count = {
    "<10":pa_Age.loc["<10","Purchase ID"].count(),
    "10-14":pa_Age.loc["10-14","Purchase ID"].count(),
    "15-19":pa_Age.loc["15-19","Purchase ID"].count(),
    "20-24":pa_Age.loc["20-24","Purchase ID"].count(),
    "25-29":pa_Age.loc["25-29","Purchase ID"].count(),
    "30-34":pa_Age.loc["30-34","Purchase ID"].count(),
    "35-39":pa_Age.loc["35-39","Purchase ID"].count(),
    "40+":pa_Age.loc["40+","Purchase ID"].count()
}

# Average Purchase Price

agePurch_price = {
    "<10":pa_Age.loc["<10","Price"].mean(),
    "10-14":pa_Age.loc["10-14","Price"].mean(),
    "15-19":pa_Age.loc["15-19","Price"].mean(),
    "20-24":pa_Age.loc["20-24","Price"].mean(),
    "25-29":pa_Age.loc["25-29","Price"].mean(),
    "30-34":pa_Age.loc["30-34","Price"].mean(),
    "35-39":pa_Age.loc["35-39","Price"].mean(),
    "40+":pa_Age.loc["40+","Price"].mean()
}

# Total Purchase Value

totalPurchase_value = {
    "<10":pa_Age.loc["<10","Price"].sum(),
    "10-14":pa_Age.loc["10-14","Price"].sum(),
    "15-19":pa_Age.loc["15-19","Price"].sum(),
    "20-24":pa_Age.loc["20-24","Price"].sum(),
    "25-29":pa_Age.loc["25-29","Price"].sum(),
    "30-34":pa_Age.loc["30-34","Price"].sum(),
    "35-39":pa_Age.loc["35-39","Price"].sum(),
    "40+":pa_Age.loc["40+","Price"].sum()
}

# Avg Total Purchase per Person | will need a variable from previous modules

# getting total counts for each age group stored into variables

counts_of_each = []

[counts_of_each.append(x) for x in AD_f["Total Count"]]

avgPurchase_value = {
    "<10":pa_Age.loc["<10","Price"].sum() / counts_of_each[0],
    "10-14":pa_Age.loc["10-14","Price"].sum() / counts_of_each[1],
    "15-19":pa_Age.loc["15-19","Price"].sum() / counts_of_each[2],
    "20-24":pa_Age.loc["20-24","Price"].sum() / counts_of_each[3],
    "25-29":pa_Age.loc["25-29","Price"].sum() / counts_of_each[4],
    "30-34":pa_Age.loc["30-34","Price"].sum() / counts_of_each[5],
    "35-39":pa_Age.loc["35-39","Price"].sum() / counts_of_each[6],
    "40+":pa_Age.loc["40+","Price"].sum() / counts_of_each[7]
}

# creating a Summary dictionary, that will later become my DataFrame

summaryPA_age = {
    "Purchase Count":agePurch_count,
    "Average Purchase Price":agePurch_price,
    "Total Purchase Value":totalPurchase_value,
    "Avg Total Purchase per Person":avgPurchase_value
}

# turning it into a DataFrame

AgePA_summary = pd.DataFrame(summaryPA_age)
AgePA_summary.index.name ='Age Ranges'

# formatting

format_dict5 = {
    "Purchase Count":"{:}",
    "Average Purchase Price":"${:.2f}",
    "Total Purchase Value":"${0:,.2f}",
    "Avg Total Purchase per Person":"${:.2f}"
}
    
cleanedPA_ageSummary = AgePA_summary.style.format(format_dict5)

# print out to terminal
    
cleanedPA_ageSummary

In [8]:
## TOP SPENDERS

# setting my index to Screenname to enable loc searching

tp = hop_df.set_index('SN')

# commented out code block below showed me the top spenders in the group

#tp1 = tp.groupby('SN').sum().sort_values(by='Price',ascending=False)

#topValue = tp1["Price"].head()
#topValue

# creating my value lists for purchase count, average purchase price, and total purchase value

# purchase count

snPurch_count = {
    "Lisosia93":tp.loc["Lisosia93","Purchase ID"].count(),
    "Idastidru52":tp.loc["Idastidru52","Purchase ID"].count(),
    "Chamjask73":tp.loc["Chamjask73","Purchase ID"].count(),
    "Iral74":tp.loc["Iral74","Purchase ID"].count(),
    "Iskadarya95":tp.loc["Iskadarya95","Purchase ID"].count()
}

# average purchase price

snAvg_price = {
    "Lisosia93":tp.loc["Lisosia93","Price"].mean(),
    "Idastidru52":tp.loc["Idastidru52","Price"].mean(),
    "Chamjask73":tp.loc["Chamjask73","Price"].mean(),
    "Iral74":tp.loc["Iral74","Price"].mean(),
    "Iskadarya95":tp.loc["Iskadarya95","Price"].mean()
}

# total purchase value

snPurch_total = {
    "Lisosia93":tp.loc["Lisosia93","Price"].sum(),
    "Idastidru52":tp.loc["Idastidru52","Price"].sum(),
    "Chamjask73":tp.loc["Chamjask73","Price"].sum(),
    "Iral74":tp.loc["Iral74","Price"].sum(),
    "Iskadarya95":tp.loc["Iskadarya95","Price"].sum()
}

# creating dictionary with my values

top_s = {
    "Purchase Count":snPurch_count,
    "Average Purchase Price":snAvg_price,
    "Total Purchase Value":snPurch_total
}

# turning the dictionary into a DataFrame and naming its index

TopSpenders = pd.DataFrame(top_s)
TopSpenders.index.name = 'SN'

# formatting my DataFrame

format_dict6 = { 
    "Purchase Count":"{:}",
    "Average Purchase Price":"${:.2f}",
    "Total Purchase Value":"${0:,.2f}",
    "Avg Total Purchase per Person":"${:.2f}"
}
    
cleanedTopSpenders = TopSpenders.style.format(format_dict6)

# printing the summary to the terminal

cleanedTopSpenders

In [9]:
## MOST POPULAR ITEMS

# setting up dataframe to be used
mpi = hop_df.set_index(['Item ID','Item Name'])

# code below will be commented out eventually, used this code to determine the top 
# five sold items
# ~~ mpi.groupby('Item ID').count().sort_values(by='Price',ascending=False)
#
# The top selling item IDs (b-w): 92, 178, 145, 132, and 108

# calculating their overall counts

#mpi2 = hop_df.groupby(['Item ID','Item Name']).count()

mpi_Pcount = {
    92:mpi.loc[92,'Purchase ID'].count(),
    178:mpi.loc[178,'Purchase ID'].count(),
    145:mpi.loc[145,'Purchase ID'].count(),
    132:mpi.loc[132,'Purchase ID'].count(),
    108:mpi.loc[108,'Purchase ID'].count()
}

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: PerformanceWarning: indexing past lexsort depth may impact performance.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: PerformanceWarning: indexing past lexsort depth may impact performance.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: PerformanceWarning: indexing past lexsort depth may impact performance.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: PerformanceWarning: indexing past lexsort depth may impact performance.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: PerformanceWarning: indexing past lexsort depth may impact performance.

In [20]:
mpi.groupby(level=[0,1]).count().sort_values(by='Purchase ID',ascending=False)

,,Purchase ID,SN,Age,Gender,Price,Age Range
Item ID,Item Name,,,,,,
92,Final Critic,13,13,13,13,13,13
178,"Oathbreaker, Last Hope of the Breaking Storm",12,12,12,12,12,12
145,Fiery Glass Crusader,9,9,9,9,9,9
132,Persuasion,9,9,9,9,9,9
108,"Extraction, Quickblade Of Trembling Hands",9,9,9,9,9,9
...,...,...,...,...,...,...,...
42,The Decapitator,1,1,1,1,1,1
51,Endbringer,1,1,1,1,1,1
118,"Ghost Reaver, Longsword of Magic",1,1,1,1,1,1
104,Gladiator's Glaive,1,1,1,1,1,1
91,Celeste,1,1,1,1,1,1

mpi.unique(

In [14]:
mpi.index.get_level_values(1)

Index(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard', 'Souleater',
       'Ghastly Adamantite Protector',
       ...
       'Dawne', 'Hero Cane', 'Ghastly Adamantite Protector',
       'Pursuit, Cudgel of Necromancy', 'Final Critic', 'Wolf',
       'Exiled Doomblade', 'Celeste, Incarnation of the Corrupted',
       'Final Critic', 'Dawn'],
      dtype='object', name='Item Name', length=780)